:root {
  --carousel-dots-selected-bg: #000;
  --carousel-dots-bg: #ececec;
}

.carousel-dot {
  display: flex;
  width: 46px;
  height: 20px;
  align-items: center;
  padding: 0;
  border: 0;
  margin: 0;
  margin-right: 13px;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;
}

.carousel-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-dot:after {
  width: 100%;
  height: 6px;
  background: var(--carousel-dots-bg);
  content: '';
}

.carousel-dot--selected:after {
  background: var(--carousel-dots-selected-bg);
}

.block.carousel {
  &.two .block.teaser {
    transform: translate3d(0, 0, 0);
    flex: 0 0 calc(100% / 2);
  }
  &.three .block.teaser {
    transform: translate3d(0, 0, 0);
    flex: 0 0 calc(100% / 3);
  }
  &.four .block.teaser {
    transform: translate3d(0, 0, 0);
    flex: 0 0 calc(100% / 4);
  }
  &.five .block.teaser {
    transform: translate3d(0, 0, 0);
    flex: 0 0 calc(100% / 5);
  }
  .carousel-viewport {
    overflow: hidden;
  }
  .carousel-container {
    display: flex;

    .teaser-item.default {
      display: flex;
      flex-direction: column;
    }
  }
}
