:root {
  --carousel-dots-selected-bg: #000;
  --carousel-dots-bg: #ececec;
}

.carousel-wrapper {
  max-width: var(--default-container-width);
  margin-right: auto;
  margin-left: auto;
}

.carousel-viewport {
  overflow: hidden;
}

.carousel-container {
  display: flex;
  margin-left: -20px;

  .block.teaser {
    transform: translate3d(0, 0, 0);
    padding-left: 20px;

    &::before {
      border: none;
    }
  }
}

.carousel-button {
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;

  &:disabled {
    cursor: default;
  }
}

.carousel-button-prev {
  left: 50px;
}

.carousel-button-next {
  right: 50px;
  // In case you want to remove the buttons from the mobile view
  // @media only screen and (max-width: $computer-width) {
  //   display: none !important;
  // }
}

.carousel-dot {
  display: flex;
  width: 46px;
  height: 20px;
  align-items: center;
  padding: 0;
  border: 0;
  margin: 0;
  margin-right: 13px;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  touch-action: manipulation;
}

.carousel-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-dot:after {
  width: 100%;
  height: 6px;
  background: var(--carousel-dots-bg);
  content: '';
}

.carousel-dot--selected:after {
  background: var(--carousel-dots-selected-bg);
}

.block.carousel {
  &.one .block.teaser {
    flex: 0 0 calc(100% / 1);
  }

  &.two .block.teaser {
    flex: 0 0 calc(100% / 2);
  }

  &.three .block.teaser {
    flex: 0 0 calc(100% / 3);
  }

  &.four .block.teaser {
    flex: 0 0 calc(100% / 4);
  }

  .teaser-item.default {
    display: flex;
    flex-direction: column;

    .image-wrapper {
      margin-right: 0;
    }
  }
}
